version: '3.8'

services:
  backend:
    build: ./Backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb+srv://ArbaazHussain:keyboard3108@cluster0.ejj3klo.mongodb.net/eventbase?retryWrites=true&w=majority&appName=Cluster0
      - JWT_SECRET=secretkey123

  frontend:
    build: ./FrontEnd
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:5000/api